//game background
body {
    background: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    border-radius: 5%;
}

//storyboard
.story-board {
    width: 350px;
    border: $event-border;
    height: 700px;
    margin-top: 50px;
    overflow: auto;
    display: none;
    &__event {
        width: 100%;
        margin-top: 30px;
        background: $event-bg;
        padding: 20px;
    }
}

//gameboard
.game-area {
    border: 2px solid yellow;
    padding: 40px;
    background: black;
}

.square {
    position: absolute;
    width: 110px;
    height: 110px;
    border: 5px solid;
}

//tokens on gameboard
.game-token {
    width: 80px;
    height: 80px;
    position: absolute;
    &__fighters {
        margin-top: 15px;
        left: 30%;
    }
}

.myStyle {
    width: 10px;
    height: 10px;
    position: absolute;
}

//whos turn to throw
.player-turn {
    margin: 80px 5px 0px;
}

//roller-container
.roller-container {
    margin-top: 20px;
    &__dice {
        width: 100px;
        margin-left: 70px;
        height: 100px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) {
    .game-area {
        border: 2px solid yellow;
        padding: 40px;
        background: black;
        width: 1900px;
    }
    .board {
        position: absolute;
        top: 80px;
        left: 100px;
    }
    .story-board {
        display: block;
    }
    .rotate {
        -moz-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
    .rotate.down {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}