//game background
body {
    background: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    border-radius: 5%;
}

.container-fluid {
    width: 1800px;
}

//storyboard
.story-board {
    width: 350px;
    border: $event-border;
    height: 700px;
    margin-top: 50px;
    overflow: auto;
    &__event {
        border: $event-border;
        width: 100%;
        margin-top: 30px;
        background: $event-bg;
        padding: 20px;
    }
}

//gameboard
.square {
    position: absolute;
    width: 110px;
    height: 110px;
    border: 5px solid;
}

#board {
    position: absolute;
    top: 80px;
    left: 100px;
}

//tokens on gameboard
.game-token {
    width: 80px;
    height: 80px;
    position: absolute;
}

.myStyle {
    width: 10px;
    height: 10px;
    position: absolute;
}

//whos turn to throw
.player-turn {
    margin: 80px 5px 0px;
}

//roller-container
.roller-container {
    margin-top: 40px;
    &__dice {
        width: 100px;
        margin-left: 70px;
    }
    &__btn {
        width: 150px;
        height: 100px;
        padding: 20px;
    }
}