//nav
.nav-link {
    font-size: $nav-text-m;
    width: 10%;
    margin: 0 10px 0px 0px;
    font-family: $heading-stack;
}

.active {
    font-weight: bold;
    text-decoration-line: underline;
}

//logo
.logo {
    width: 20px;
}

@media (min-width: 481px) and (max-width: 767px) {}

.nav-link {
    font-size: $nav-text-t;
}

//logo
.logo {
    width: 100px;
}

@media only screen and (min-width: 768px) {
    .nav-link {
        font-size: $nav-text-d;
    }
    //logo
    .logo {
        width: 200px;
    }
}