body {
    background-color: $bg-color;
}


/*cards*/

.cards {
    background-color: $content-bg;
    border: $card-border;
    margin-top: 40px;
    &:hover {
        box-shadow: 10px 10px rgba(49, 47, 47, 0.3);
        box-shadow: 10px 10px #0c0c0c;
        transition: all 0.5s ease-in-out;
        transform: scale(1.08);
        cursor: pointer;
    }
    &__info {
        background-color: $content-bg;
    }
    &__img {
        width: 100%;
    }
    &__token {
        width: 30%;
    }
    &__game {
        &:hover {
            pointer-events: none;
            box-shadow: none;
            box-shadow: none;
            transition: none;
            transform: none;
        }
    }
}

.selected-style {
    border: 7px solid red;
    opacity: 0.8;
}

//accordion
.accordion {
    margin: 40px;
}

.accor {
    background-color: $content-bg;
    margin-top: 2px;
}

@media (min-width: 481px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) {
    .cards-modify {
        height: 880px;
    }
}