/*font*/

@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Lato&display=swap");
$heading-stack: "Cinzel Decorative",
sans-serif;
$font-stack: "Lato",
sans-serif;

/*font size*/

$heading-size-m: 16px;
$heading-size-t: 18px;
$heading-size-d: 23px;
$nav-text-d: 16px;
$nav-text-m: 14px;
$nav-text-t: 12px;
$sub-heading-d: 18px;
$sub-heading-t: 16px;
$sub-heading-m: 13px;
$local-heading-d: 16px;
$local-heading-t: 14px;
$local-heading-m: 12px;
$body-text-d: 16px;
$body-text-t: 14px;
$body-text-m: 12px;
$btn-text-d: 16px;
$btn-text-t: 12px;
$btn-text-m: 10px;

/*colours*/

$text-color-dark: #2e2e2e;
$bg-color: #0c0c0c;
$bg-win: rgb(12,
12,
12);
$text-color: #e0e0e0;
$link-hover: #a09f9f;
$btn-color: #2c4459;
$btn-hover: #4d748c;
$hover-a: #343a3f;
$content-bg: #343a3f;
$card-border: 3px solid #4d748c;
$event-bg: rgb(5,
5,
5);
$event-border: 3px solid #fff;
$selected-card: 3px solid #a30d0d;